@page
@model AuctionModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIForCars</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/css/fontStyles.css" rel="stylesheet" />
    <link href="~/css/auction.css" rel="stylesheet" />
    <script src="~/js/auctionPage.js"></script>
    <script src="~/js/main.js"></script>
    @Html.AntiForgeryToken()
</head>
<body>
    <div class="cabecalho">
        <div class="hero">
            <header>
                <h2>LIFORCARS</h2>
                <nav>
                    <a id="homeLink" href=" /">HOME</a>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <a id="aboutLink" href="/Auctions">AUCTIONS</a>
                        <a id="contactLink" href="/UserPage">PROFILE</a>
                    <button id="logoutButton" class="signout-button">LOG OUT</button>
                    }
                    else
                    {
                        <a href="#" onclick="showAboutPage()">ABOUT</a>
                        <a href="#" onclick="showContactPage()">CONTACT</a>
                        <divSignIn>
                            <a2 href="#" onclick="showLoginPage()" class="signin">SIGN IN</a2>
                        </divSignIn>
                    }
                </nav>
            </header>
        </div>
    </div>

    @if(Model.Auction!=null) {
        <div class="auctionsDiv">
            <div id="leiloesContent" class="userLeiloes" style="display: block;">
                <div class="userLeiloesCabecalho">
                    <h1 class="listaDados" style="margin-left: 4%; color: white; margin-bottom: 0;">AUCTION #@Model.Auction.Id</h1>
                </div>
                <div class="englobaAuction">
                    <div class="auctionInfoExtended" style="display: block">
                        <div class="auctionInfo">
                            <div class="auctionInfoCabeçalho">
                                <h3 class="car-model">@Model.Auction.Car?.Make @Model.Auction.Car?.Model (@Model.Auction.Car?.LaunchYear)</h3>
                                <img src="@Model.Auction.Car?.PicUrl" alt="@Model.Auction.Car?.Make @Model.Auction.Car?.Model">
                            </div>
                            <div class="auctionInfoResumo">
                                <div>
                                    <div>
                                        <p>Origin: @Model.Auction.Car?.Origin</p>
                                        <p>Motor: @Model.Auction.Car?.Motor (@Model.Auction.Car?.FuelType)</p>
                                        <p>Milage: @Model.Auction.Car?.Kms</p>
                                        <p>Status Description: @Model.Auction.Car?.StatusDescription</p>
                                    </div>
                                    <div>
                                        <p>Base Price: @Model.Auction.BasePrice €</p>
                                        <p>Buy Now: @Model.Auction.BuyNowPrice €</p>
                                        <p>Starting Date: @Model.Auction.InitDateTime.ToString("yyyy-MM-dd")</p>
                                        <p>Ending Date: @Model.Auction.EndDateTime.ToString("yyyy-MM-dd")</p>
                                    </div>
                                </div>
                                <button href="#" name="bidAmount" onclick="showBidPage()" class="BidButton">BID</button>
                            </div>

                            <div id="bid-page" style="display: none;">
                                <div class="modal-backdrop">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="close-btn" onclick="closeBidPage()">&times;</span>
                                            <h2>Place bid</h2>
                                        </div>
                                        <div id="bid-error" style="color:red; text-align: center; padding:10px; display:none;"></div>
                                        <div id="bid-success" style="color:green; text-align:center; padding:10px; display:none"></div>
                                        <p>(Your bid must be at least @Model.Auction.MinIncrement above the current highest bid)</p>
                                        <form id="bid-form" asp-page-handler="OnPostPlaceBid">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="auctionId" value="@Model.Auction.Id" />
                                            <input type="text" id="bid" name="bidValue" placeholder="Your Bid" required />
                                            <div class="modal-footer">
                                                <button class="bidButton2" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="additionalInfo" style="display: block;">
                            <div class="additionalInfoBox">
                                <div class="moreInfoEmptyColumn"></div>
                                <div style="width: 80%;">
                                    <div class="infoBid" style="background-color: rgb(113, 121, 125); color: white;">
                                        <span>User</span>
                                        <div>
                                            <span>Bid Value</span>
                                            <div class="triangle-down" data-ascending="true"></div>
                                        </div>
                                        <span>Time of Bid</span>
                                    </div>
                                    <div class="bidsContainer">
                                        @foreach(var bid in Model.Bids) {
                                            <div class="infoBid" data-bidvalue="@bid.BidValue">
                                                @if(!Model.Auction.Anonymous) {
                                                    <span>@bid.User.Username</span>
                                                } else {
                                                    <span>[Anonymous]</span>
                                                }
                                                <span>@bid.BidValue €</span>
                                                <span>@bid.bidTime</span>
                                            </div>
                                        }
                                        <div class="infoBidBreaker">
                                            <span>RELOAD THE PAGE TO CHECK FOR NEW BIDS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <footer>
            <div class="bottom-icons">
                <a href="#">Facebook</a>
                <a> | </a>
                <a href="#">Instagram</a>
                <a> | </a>
                <a href="#">LinkedIn</a>
                <a> | </a>
                <a href="#">help@LIForCars.pt</a>
                <a> | </a>
                <a href="#">Privacy Policy</a>
                <a> | </a>
                <a href="#">Terms & Conditions</a>
            </div>
        </footer>
    } else {
        <p>Auction not found or invalid ID.</p>

        <footer style="position: fixed;">
            <div class="bottom-icons">
                <a href="#">Facebook</a>
                <a> | </a>
                <a href="#">Instagram</a>
                <a> | </a>
                <a href="#">LinkedIn</a>
                <a> | </a>
                <a href="#">help@LIForCars.pt</a>
                <a> | </a>
                <a href="#">Privacy Policy</a>
                <a> | </a>
                <a href="#">Terms & Conditions</a>
            </div>
        </footer>
    }
    

</body>
</html>