@page
@model UserPageModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIForCars</title>
    <link href="~/css/fontStyles.css" rel="stylesheet" />
    <link href="~/css/user.css" rel="stylesheet" />
    <script src="~/js/userPage.js"></script>

</head>
<body>
    <div class="cabecalho">
        <div class="hero">
            <header>
                <h2>LIFORCARS</h2>
                <nav>
                    <a id="homeLink" href="/">HOME</a>
                    <a id="aboutLink" href="#">ABOUT</a>
                    <a id="contactLink" href="#">CONTACT</a>
                    <divLogOut>
                        <aUltimo href="#" data-target="login" class="signin">LOG OUT</aUltimo>
                    </divLogOut>
                </nav>
            </header>
        </div>
        <header class="userBar">
            <nav>
                <span id="leiloesLink">LEILÕES</span>
                <span id="bidsLink">BIDS</span>
            </nav>
        </header>
    </div>



    @if (Model.User != null)
    {
        <div id="perfilContent" class="userInfo">
            <div class="userDados">
                <div class="userDadosCabecalho">
                    <h1 class="listaDados" style="margin-left: 4%; color: white; margin-bottom: 0;">@Model.User.Username</h1>
                    <img src="../images/avatarIcon.png" alt="Avatar Icon" style="width: 53%; height: auto; margin-left: 6%; margin-top: 3%; margin-bottom: 17%;">
                </div>
                <span class="listaDados">Username: @Model.User.Name</span>
                <span class="listaDados">NIF: @Model.User.Nif</span>
                <span class="listaDados">CC: @Model.User.CC</span>
                <span class="listaDados">Address: @Model.User.Address</span>
                <span class="listaDados">Phone Number: @Model.User.Phone</span>
                <span class="listaDados">Gender: @Model.User.Gender</span>
                <span class="listaDados">BirthDate: @Model.User.BirthDate.ToString("yyyy-MM-dd")</span>
                <span class="listaDados">Email: @Model.User.Email</span>
                <span class="listaDados">Password: @Model.User.Password</span>
            </div>
            <div class="userLeiloes">
                <div class="userLeiloesCabecalho">
                    <h1 class="listaDados" style="margin-left: 4%; color: white; margin-bottom: 0;">LEILÕES</h1>
                </div>
                <div>
                    @foreach(var auction in Model.Auctions) {
                        <div class="auctionInfoExtended">
                            <div class="auctionInfo">
                                <div class="auctionInfoCabeçalho">
                                    <h3 class="car-model">@auction.Car?.Make @auction.Car?.Model (@auction.Car?.LaunchYear)</h3>
                                    <img src="@auction.Car?.PicUrl" alt="@auction.Car?.Make @auction.Car?.Model">
                                </div>
                                <div class="auctionInfoResumo">
                                    <div>
                                        <div>
                                            <p>Origin: @auction.Car?.Origin</p>
                                            <p>Motor: @auction.Car?.Motor (@auction.Car?.FuelType)</p>
                                            <p>Milage: @auction.Car?.Kms</p>
                                            <p>Status Description: @auction.Car?.StatusDescription</p>
                                        </div>
                                        <div>
                                            <p>Base Price: @auction.BasePrice €</p>
                                            <p>Buy Now: @auction.BuyNowPrice €</p>
                                            <p>Starting Date: @auction.InitDateTime.ToString("yyyy-MM-dd")</p>
                                            <p>Ending Date: @auction.EndDateTime.ToString("yyyy-MM-dd")</p>
                                        </div>
                                    </div>
                                    <button class="moreInfoButton">MORE INFO</button>
                                </div>
                            </div>
                            <div class="additionalInfo" style="display: none;">
                                <div class="additionalInfoBox">
                                    <div class="moreInfoEmptyColumn"></div>
                                    <div style="width: 80%;">
                                        <div class="infoBid" style="background-color: rgb(113, 121, 125); color: white;">
                                            <span>User</span>
                                            <span>Bid Value</span>
                                            <span>Time of Bid</span>
                                        </div>
                                        @foreach(var bid in Model.BidsMap[auction].Bids) {
                                            <div class="infoBid">
                                                <span>@bid.User.Username</span>
                                                <span>@bid.BidValue €</span>
                                                <span>@bid.bidTime</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                
            </div>
        </div>





        <footer>
            <div class="bottom-icons">
                <a href="#">Facebook</a>
                <a> | </a>
                <a href="#">Instagram</a>
                <a> | </a>
                <a href="#">LinkedIn</a>
                <a> | </a>
                <a href="#">help@LIForCars.pt</a>
                <a> | </a>
                <a href="#">Privacy Policy</a>
                <a> | </a>
                <a href="#">Terms & Conditions</a>
            </div>
        </footer>
    }
    else
    {
        <p>User not found or invalid ID.</p>

        <footer style="position: fixed;">
            <div class="bottom-icons">
                <a href="#">Facebook</a>
                <a> | </a>
                <a href="#">Instagram</a>
                <a> | </a>
                <a href="#">LinkedIn</a>
                <a> | </a>
                <a href="#">help@LIForCars.pt</a>
                <a> | </a>
                <a href="#">Privacy Policy</a>
                <a> | </a>
                <a href="#">Terms & Conditions</a>
            </div>
        </footer>
    }








</body>
</html>
